<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'slider1.jpg', :class=>'img-responsive' %>
      <div class="carousel-caption">
        Let us know how you like the restaurants in Kampala!
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider2.jpg', :class=>'img-responsive' %>
      <div class="carousel-caption">
        Tell us about the decor, about the service.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider3.jpg', :class=>'img-responsive'  %>
      <div class="carousel-caption">
        Tell us about the Chef's mastery of their craft.
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>